* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}
body {
  padding: 0;
  margin: 0;
}
.head {
  height: 300px;
  padding-top: 50px;
  text-align: center;
  background: linear-gradient(
      rgba(238, 130, 238, 0.671),
      rgba(238, 130, 238, 0.644)
    ),
    url("img2.jpg");
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}
.head-title {
  background-color: darkviolet;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  border-left: 8px solid orange;
  border-right: 8px solid orange;
  font-size: 32px;
}
.head-content {
  font-size: 24px;
}

.container {
  padding: 24px;
}
.cont-head {
  font-size: 36px;
}
.cont-para {
  font-size: 18px;
  line-height: 2;
}
