/* body {
  display: relative;
} */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px 0px 0;
  background-color: darkviolet;
  display: absolute;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  margin-bottom: 120px;
}
.nav-img {
  height: 50px;
  width: 400px;
  clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
  background-color: white;
  padding-bottom: 8px;
}
.nav-head {
  padding-left: 10px;
  padding-bottom: 8px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.q {
  color: white;
}
.nav-item:hover,
.q:hover {
  color: black;
  transition: all 0.3s;
}
.nav-item {
  color: white;
  padding-top: 10px;
}
.swiper {
  z-index: -100;
}
p:hover {
  cursor: pointer;
}
.dropdowncontent {
  width: 100px;
  position: absolute;
  display: none;
  background-color: #888;
}
.dropdown:hover .dropdowncontent {
  width: max-content;
  padding: 10px;
  display: block;
  z-index: 1000;
}
.content {
  padding: 5px;
  text-decoration: none;
}
.content:hover {
  position: relative;
  background-color: white;
  border-radius: 5px;
  z-index: 1000;
}

.h-5w-5 {
  text-align: center;
  height: 15px;
  width: 15px;
}
.centers {
  margin: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  /* width: 100vw; */
}
.imf {
  width: 100%;
  height: 100%;
}
.icons {
  font-size: 48px;
}
.header-content {
  overflow: hidden;
  width: 100%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.315);
  padding: 10px;
}
.header-content:hover {
  background-color: rgba(137, 43, 226, 0.304);
  transition: all 0.5s;
  transform: scale(1.1);
  overflow: hidden;
}
.swiper {
  cursor: grab;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  padding: 10px;
  top: 100px;
  margin-top: 48px;
}

.footer-top {
  background-color: darkviolet;
  color: white;
  padding: 16px;
}
.footer-item p:hover,
.foo p:hover,
.foo li:hover,
.foot-end p:hover {
  color: black;
}
.footer-item li:hover {
  color: black;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid black;
}
.foo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.para {
  display: inline-block;
}
.logo {
  display: flex;
  gap: 10px;
}
li {
  margin-bottom: 12px;
}
.parag {
  display: inline-block;
}
.foot-end {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.imgf {
  height: 100vh;
  width: 100vw;
}
.contain {
  padding: 10px;
  display: flex;
}
