* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.head {
  height: 300px;
  padding-top: 50px;
  text-align: center;
  background: linear-gradient(
      rgba(238, 130, 238, 0.671),
      rgba(238, 130, 238, 0.644)
    ),
    url("img2.jpg");
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}
.head-title {
  background-color: darkviolet;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  display: inline-block;
  border-left: 8px solid orange;
  border-right: 8px solid orange;
  font-size: 32px;
}
.head-content {
  font-size: 24px;
}
.container {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 16px;
}
.side-head {
  padding: 2px;
  background-color: silver;
  font-size: 24px;
  border-left: 5px solid darkviolet;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-color: violet;
  font-size: 32px;
  color: white;
}
